/* Il padre mantiene solo il layout "wrapper" dell'overview */
.wrapper {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  min-height: 100%;
}
