/* ==========================================================================
   Display Utilities
   ========================================================================== */

@use "../variables" as v;
@use "../mixins" as m;

// Display Utilities
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-grid {
  display: grid !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

// Responsive Display
@each $breakpoint, $value in v.$breakpoints {
  @include m.breakpoint($breakpoint) {
    .d-#{$breakpoint}-none {
      display: none !important;
    }
    .d-#{$breakpoint}-inline {
      display: inline !important;
    }
    .d-#{$breakpoint}-inline-block {
      display: inline-block !important;
    }
    .d-#{$breakpoint}-block {
      display: block !important;
    }
    .d-#{$breakpoint}-grid {
      display: grid !important;
    }
    .d-#{$breakpoint}-flex {
      display: flex !important;
    }
    .d-#{$breakpoint}-inline-flex {
      display: inline-flex !important;
    }
  }
}

// Visibility Utilities
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

// Print Display Utilities
@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-grid {
    display: grid !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
