@use '../../../../admin/styles/globals.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(2px);

  @media (min-width: 769px) {
    display: none;
  }
}
